div#root {
  header {
    button {
      img {
        border: 2px solid rgb(35, 8, 78);
      }
    }

    button.login {
      background-color: var(--btncolor);
      border: 1px solid rgb(84, 84, 84);
      font-weight: 400;
      font-size: 14px;
      color: #ffff;
      transition: all 0.3s ease;
    }

    .rocket {
      animation: fly 1s infinite;
    }

    @keyframes fly {
      0% {
        opacity: 0;
        transform: translate(0, 0);
      }
      100% {
        opacity: 1;
        transform: translate(4px, -4px);
      }
    }

    button.login:hover {
      background-color: rgb(33, 31, 49);
      border: 1px solid rgb(7, 191, 7);
    }

    div.dropdown {
      background-color: rgb(25, 25, 25);
      border: 1px solid rgb(55, 55, 55);
    }
  }
}
